<div class="card-header">    

    <h3>DataComponent</h3>    
    <button class="btn btn-dark">Click to GetData</button>    
</div>    
<div class="card-body">    
    <br />    
    <h1>XDDD</h1>
</div>    
